Dockerfile
electron/node_modules/
web/node_modules/
node_modules/
.venv/
.git/
.github/
tests/
docs/
workflow_templates/
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
.coverage
htmlcov/
site/
.DS_Store
